<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-lg font-bold text-gray-800 mb-4">Registrar Usuario</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Nombre:</label>
        <input [(ngModel)]="user.name" name="name" placeholder="Nombre"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Correo Electrónico:</label>
        <input [(ngModel)]="user.email" name="email" placeholder="Correo Electrónico"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>

      <div class="flex justify-end space-x-2">
        <button type="button" (click)="closeModal()" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 transition duration-300">
          Cancelar
        </button>
        <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition duration-300">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
